.quizDefinitionBox {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 3px 3px;
    background-color: rgb(238, 238, 238);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.quizDefinitionTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px 3px 0px 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.82);
    background-color: rgba(0, 69, 38, 0.711);
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.6);
}

.quizDefinitionText {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    font-weight: 650;
    text-align: left;
    color: rgb(0, 0, 0, 0.75);
}

.quizDefinitionBox img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}